body {
  background-color: red;
}

#items-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.4em;
  /* width: 120%; */
}

#items-list,
img {
  width: 60%;
  height: 40%;
}

#basket-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.4em;
  width: 20%;
  margin-left: 1%;
  position: absolute;
  right: 10%;
  width: 20%;
  height: 10%;
  border: 1em;
  margin-top: 1%;
}

#basket-headline {
    position: absolute;
    right: 10%;
}
