body {
    background-color: red;
}

#items-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.4em;
}

#items-list, img {
    width: 60%;
    height: 40%;
}

#basket-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.4em;
    width: 30%;
    margin-right: 1%;
}